Actividad2/biblioteca_libros.dtd

<!ELEMENT biblioteca_libros (libro+)>

<!ELEMENT libro (titulo, capitulos, indice, sinopsis)>
<!ATTLIST libro id ID #REQUIRED>
<!ATTLIST libro tipo_clase CDATA #REQUIRED>
<!ATTLIST libro genero CDATA #REQUIRED>
<!ATTLIST libro num_paginas CDATA #REQUIRED>

<!ELEMENT capitulos (capitulo+)>

<!ELEMENT capitulo (titulo, contenido)>
<!ATTLIST capitulo num_paginas CDATA #REQUIRED>
<!ATTLIST contenido enlace CDATA #REQUIRED>


